{% extends "base.html" %}

{% block titulo %}
| Listagem de categorias
{% endblock %}

{% block conteudo %}
    <h3>Categorias</h3>
    <hr /><br />
    <div>
        {% for categoria in object_list%}
            <p>
                <strong>{{ categoria.nome }}</strong><br />
                <a href="{% url armazem:listar_produtos_por_categoria slug_categoria=categoria.slug %}">Produtos</a> | <a href="{% url armazem:ver_categoria slug=categoria.slug %}">Subcategorias</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
